{{- $redirectUri := printf "%s://%s%s" .Site.Params.ingress_protocol .Site.Params.session_hostname .Page.RelPermalink -}}
<form action="https://console-openshift-console.{{ .Site.Params.ingress_domain }}/academy/lessons/educates-session-pods/start" method="get" target="_top">
  <input type="hidden" name="namespace" value="{{ .Site.Params.session_namespace }}">
  <input type="hidden" name="redirectUri" value="{{ $redirectUri }}">
  <button class="btn btn-primary" type="submit">Open the native OpenShift console tour</button>
</form>
